* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  border: 3px solid red;
}
