* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  border: 3px solid black;
}

button {
  padding: 10px;
  font-family: cursive;
  border-radius: 10px;
}
